/* :root {
    --background-color: grey
} */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
}

header {
    background-color: aquamarine;
    color: black;
    font-size: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

header h1{
    background-color: gray;
    padding: 5px;
}

h1::before {
    content: "Logo";
    color: red;
    margin: 5px;
}

header a, .contact-me a {
    color: grey;
    background-color: aquamarine ;
}

.nav {
    background-color: aquamarine;
}

nav ul {
    color: grey;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    margin: 25px;
}

#about-me, #work, #contact-me {
    text-align: center;
}

.contact-me {
    display: flex;
    justify-content: space-evenly;
}