/* :root {
    --background-color: grey
} */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: aquamarine;
    color: black;
    font-size: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a, .contact-me a {
    color: black;
}

.header {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(129, 8, 8);
    font-size: 42px;
}

#about-me {
    display: inline-flex;
}

#work {
    display: inline-flex;
    align-items: flex-start;
}

#contact-me {
    display: inline-flex;
}

h1::before {
    content: "Logo";
    color: red;
    margin: 5px;
}

body {
    background-color: #F7C1AD;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    padding: 20px;
}

nav ul {
    color: black;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    margin: 25px;
}

.contact-me {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    min-width: 500px;
}