/* :root {
    --background-color: grey;
    --font-color: ;
    --header-font-color: ;
} */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
}

header {
    background-color: aquamarine;
    color: black;
    font-size: 150%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 250px;
}

.header {
    font-weight: bold;
    font-size: 24px;
    padding: 25px;
    display: inline-flex;
}

header h1{
    background-color: gray;
    padding: 10px;
    margin-left: 252px;
}

header a {
    color: grey;
    background-color: aquamarine ;
}

.nav {
    background-color: aquamarine;
}

nav ul {
    color: grey;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    margin: 10px;
}

#about-me, #work, #contact-me {
    text-align: center;
    display: inline;
    color: white;
}
/* TODO break out 'about me' text to limit width */
.contact-me {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    text-decoration: underline;
}

.contact-me a {
    color: white;
}

.avatar {
    background-image: url(../images/The\ Mask.png);
    height: 250px;
    width: 250px;
    position: absolute;
    display: block;
    border-radius: 50%;
}